<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间输入对应接口位置-->
<mapper namespace="com.cloud.justyou.mapper.BigSortsMapper">

    <select id="getBigSorts" resultType="BigSorts">
        select * from bigsorts
    </select>

    <select id="getBigSortsByName" parameterType="java.lang.String">
        select * from bigsorts
        <where>
            <if test="sort_name != null">
                sort_name = #{sort_name}
            </if>
        </where>
    </select>


</mapper>